$jeopardy-blue: #060CE9;

@font-face {
    font-family: Korinna;
    src: url("../font/Korinna-Regular.otf") format("opentype");
}
@font-face {
    font-family: Swiss;
    src: url("../font/Swiss911BT-Compressed.otf") format("opentype");
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  .col,
  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@mixin vert-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.jeopardy-board {
  background-color: $jeopardy-blue;
  color: #ffffff;

  .category-row, .clue-item {
    @include vert-center;
    font-family: 'Swiss', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1;
    text-shadow: 2px 2px #333;
    height: 4em;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.5em;
  }

  .final-clue {
    height: 5em;
    font-size: 10em;
  }

  .clue-item {

    h1 {
      font-size: 2.5em;
      color: #ffcc00;
    }
  }

  .category-row {
    letter-spacing: 2px;
  }
}

.host-board {
  .category-row, .clue-item {
    @include vert-center;
    font-size: 1em;
    line-height: 1;
    height: 6em;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.5em;
  }

  .final-clue {
    height: 3em;
    font-size: 5em;
  }

  .clue-item {

    h1 {
      font-size: 2.5em;
    }
  }

  .category-row {
    letter-spacing: 2px;
  }
}

.jumbotron {
  padding-top: 0;
}

.container-fluid {
  padding: 0;
}


.clue-overlay {
  background-color: $jeopardy-blue;
  @include vert-center;
  font-family: Korinna, serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.host {
    background-color: #eaeaea;
    font-family: 'Helvectica', sans-serif;
    bottom:50%;
  }
}

.clue-modal {
  color: #fff;
  text-transform: uppercase;
  font-size: 6em;
  padding: 0 5em;
  text-shadow: 10px 10px 18px #000;
  line-height: 1.1;
  letter-spacing: -1px;

  &.host {
    text-shadow: none;
    color: black;
    font-size: 3em;

    .answer {
      padding: 1em;
      font-size: 0.5em;
    }
  }

  &:focus {
    outline: none;
  }

  button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: black;
  }
}
